@import url("./something.css");
.footer1 {
  display: flex;

  height: 100%;
  min-height: 400px;
  padding-right: 0;

  background-color: transparent;
}
.contact-us {
  display: flex;
  flex-direction: column;
  width: 40%;

  height: 100%;
  padding: 50px 100px;

  background-color: rgb(74, 80, 187);
  color: aliceblue;
}
.contact-us h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: none;
}

.contact-us p {
  color: white;
  text-align: left;
  max-width: 500px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px 0px 20px;
  white-space: initial;
  word-break: break-word;
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
}

.contact-form label {
  color: white;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 20px 0px 5px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.contact-form .text {
  border: 1px solid white;
  border-radius: 3px;
  outline: currentcolor none medium;
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  width: 100%;
}

.contact-form textarea {
  border: 1px solid white;
  border-radius: 3px;
  outline: currentcolor none medium;
  padding: 10px 5px;
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form #send {
  padding: 10px 20px;
}

#map {
  display: flex;
  width: 60%;
  height: 100%;
  min-height: 400px;

  padding-left: 60px;
  padding-right: 0px;
  background-color: transparent;
}

.footer2 {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 53px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  z-index: 1;
  flex: 0 0 auto;
}

.footer2-div {
  -moz-box-align: center;
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  max-height: none;
  max-width: none;
  padding: 0px;
  width: 100%;
  z-index: 0;
  position: static;
}

.footer2-div h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.footer2-div p {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.footer2-div a {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.footer2-div .icons {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px 0px;
  max-height: none;
  max-width: none;
  padding: 0px;
  width: 100%;
  z-index: 0;
  position: static;
}

.icons .icon-a {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px 10px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.icons .icon-a .icon-img {
  width: auto;
  height: 26px;
  object-fit: fill;
  border-radius: 0px;
}
