body {
  background-color: white;
}
.btn-primary {
  background-color: rgb(74, 80, 187) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  padding: 10px 20px !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  font-family: "Work Sans", sans-serif !important;
}
.nav-item {
  font-size: 12px !important;
}

a:hover {
  cursor: pointer !important;
  text-decoration: none !important;
  border-bottom: 3px solid rgb(74, 80, 187) !important;
}
