/* Nav and logo style */

body {
  background-color: white;
}

.btn-primary {
  background-color: rgb(74, 80, 187) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  padding: 10px 20px !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  font-family: "Work Sans", sans-serif !important;
}

.nav-item {
  font-size: 12px !important;
  padding-inline-end: 12px !important;
}

a:hover {
  cursor: pointer !important;
  text-decoration: none !important;
  border-bottom: 3px solid rgb(74, 80, 187) !important;
}

.hero-image {
  background-image: url("/public/Screenshot\ 2022-04-14\ at\ 23.00.20.png");
  height: 400px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.hero-text h1 {
  text-align: center !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-transform: uppercase !important;
  font-size: 60px !important;
  line-height: 100% !important;
  margin-bottom: 10px !important;
  font-family: "Work Sans", sans-serif !important;
  font-weight: 700 !important;
  color: white !important;
  max-width: none !important;
}

/* Program Style */

.text-color {
  color: rgb(74, 80, 187);
}

.header-style {
  color: rgb(74, 80, 187);
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

.p-style {
  font-family: "Space Mono", monospace;
}

/* our impact */
.box1 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.box2 {
  display: flow-root;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.box3 {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 50px;
}

.tit {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.our {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.we {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 800px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  word-break: break-word;
  font-weight: 300;
}

.dramatic {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.flip-box {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: rgb(52, 58, 167);
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-box2 {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box2:hover .flip-box-inner2 {
  transform: rotateY(180deg);
}

.flip-box-front2,
.flip-box-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front2 {
  background-color: rgb(52, 58, 167);
  color: black;
}

.flip-box-back2 {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-box3 {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box3:hover .flip-box-inner3 {
  transform: rotateY(180deg);
}

.flip-box-front3,
.flip-box-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front3 {
  background-color: rgb(52, 58, 167);
  color: black;
}

.flip-box-back3 {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.paragraph {
  color: white;
  max-width: none;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  margin: 10px;
  word-break: break-word;
  font-weight: 300;
}

.h3 {
  color: rgb(255, 255, 255);
}
