.text-primary {
  --bs-text-opacity: 1;

  color: rgb(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.btn-primary {
  background-color: rgb(74, 80, 187);
}

h2 {
  padding-bottom: 50px;
}

p {
  padding-bottom: 30px;
}
