/* Nav, logo and slogan style */
.btn-primary {
  background-color: rgb(74, 80, 187) !important;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.logo {
  width: 50px;
}

.img-container {
  height: 400px;
  position: relative;
}

.bg-image {
  background-image: url("../assets/team-img.png");
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.nav-item {
  font-size: 12px;
  padding-inline-end: 12px;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 3px solid rgb(74, 80, 187);
}

/* Program Style */

.text-color {
  color: rgb(74, 80, 187);
}

.header-style {
  color: rgb(74, 80, 187);
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

.p-style {
  font-family: "Space Mono", monospace;
}

/* our impact */
.box1 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.box2 {
  display: flow-root;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.box3 {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 50px;
}

.tit {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.our {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
  padding-bottom: 10px;
}

.we {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 800px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  word-break: break-word;
  font-weight: 300;
  padding-bottom: 20px;
}

.dramatic {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.flip-box {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: rgb(52, 58, 167);
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-box2 {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box2:hover .flip-box-inner2 {
  transform: rotateY(180deg);
}

.flip-box-front2,
.flip-box-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front2 {
  background-color: rgb(52, 58, 167);
  color: black;
}

.flip-box-back2 {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-box3 {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box3:hover .flip-box-inner3 {
  transform: rotateY(180deg);
}

.flip-box-front3,
.flip-box-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front3 {
  background-color: rgb(52, 58, 167);
  color: black;
}

.flip-box-back3 {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.paragraph {
  color: white;
  max-width: none;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  margin: 10px;
  word-break: break-word;
  font-weight: 300;
}

.h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 80px;
}

h2 {
  padding-top: 35px;
}

/* our core values */
.first-box {
  padding: 20px;
}

.second-box {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.Our-core-values {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.thread-box {
  padding: 20px;
  flex-direction: column;
}

.our-core-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.our-values-box {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
}

.four-icon {
  width: auto;
  height: auto;
  object-fit: fill;
}

.main-names {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.our-core-paragraphs {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  word-break: break-word;
  font-weight: 300;
}

/* Success stories */
.success-stories h4 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
}

.stories {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 100%;
  min-height: 500px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  padding: 30px;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}
div.item img {
  border-radius: 100%;
  margin: auto auto 20px;
  filter: grayscale(100%);
}
div.item p {
  padding: 15px;
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: whitesmoke;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: whitesmoke;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: whitesmoke;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: whitesmoke;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: whitesmoke;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

/* FOOTER */

.footer1 {
  display: flex;
  margin-top: 100px;
  height: 100%;
  min-height: 400px;
  padding-right: 0;
  background-color: transparent;
}

/* CONTACT SECTION: */
.contact-us {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 50px 100px;
  background-color: rgb(74, 80, 187);
  color: aliceblue;
}

.contact-us h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: none;
}

.contact-us p {
  color: white;
  text-align: left;
  max-width: 500px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0 0 20;
  white-space: initial;
  word-break: break-word;
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
}

.contact-form label {
  color: white;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 20 0 5;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.contact-form .text {
  border: 1px solid white;
  border-radius: 3px;
  outline: currentColor none medium;
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  width: 100%;
}

.contact-form textarea {
  border: 1px solid white;
  border-radius: 3px;
  outline: currentColor none medium;
  padding: 10px 5px;
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form #send {
  padding: 10px 20px;
}

/* MAP SECTION */
#map {
  display: flex;
  width: 70%;
  height: 100%;
  min-height: 400px;
  margin-right: 0%;
  padding-left: 60px;
  padding-right: 0;
  background-color: transparent;
}

/* FOOTER LAST SECTION,LOGOS */
.footer2 {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 53px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  z-index: 1;
  flex: 0 0 auto;
}

.footer2-div {
  -moz-box-align: center;
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.footer2-div h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
}

.footer2-div p {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.footer2-div a {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.footer2-div .icons {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.icons .icon-a {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0 10px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.icons .icon-a .icon-img {
  width: auto;
  height: 26px;
  object-fit: fill;
  border-radius: 0;
}
